{% extends 'layout/layout.html' %}
{% block content %}

    <form action="{% url 'apply_update' apply.pk %}" method='POST'> <!--apply_update 네이밍 확인 필수 -->
        {%csrf_token%}
        <div class="form-group">
            <label for="contentInput">1.지원동기 (500자)</label> 
            <textarea class="form-control" id="contentInput" name='reason' rows="5">{{apply.reason}}</textarea>
        </div>
        <div class="form-group">
            <label for="contentInput">2.만들고 싶은 웹사이트 (300자)</label> 
            <textarea class="form-control" id="contentInput" name='makeweb' rows="5">{{apply.makeweb}}</textarea>
        </div>
        <div class="form-group">
            <label for="contentInput">3.동아리/단체 활동경험 유무 및 단체 내 갈등 해결 방법 (300자)</label> 
            <textarea class="form-control" id="contentInput" name='solution' rows="5">{{apply.solution}}</textarea>
        </div>
        <div class="form-group">
            <label for="contentInput">4.멋사에서 얻어가고 싶은 것 (100자)</label> 
            <textarea class="form-control" id="contentInput" name='gain' rows="5">{{apply.gain}}</textarea>
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>
</html>
{% endblock %}

    <!--혹시 다시 쓰게 될까봐 두는 코드
       <form action="{% url 'apply_update' apply.pk %}" method='POST'> 여기 apply_update 네이밍 확인 필수 
        {%csrf_token%}
        <input type='text' name='first_content' value='{{apply.reason}}'> 
        <input type='text' name='first_content' value='{{apply.makeweb}}'> 
        <input type='text' name='first_content' value='{{apply.solution}}'> 
        <input type='text' name='first_content' value='{{apply.gain}}'> 
        <textarea name='content'>{{board.content}}</textarea>
        <button type= 'sumbit'>submit</button>
        </form>
    
    -------------------

    <textarea name='content'>{{apply.first_content}}</textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>