{% extends 'layout/layout.html' %}
{% block content %} 

<section class="container" style="text-align: center;">
<pre style="font-size: larger;">
   
<strong>당신의 아이디어를 자유롭게 펼쳐보세요

<p style="color: red;">INFOMATION</p>


<p style="color: red;">** 모집대상 ** </p>
코딩에 관심이 있는 누구나 
만들어보고 싶은 아이디어가 있는 누구나 
창업에 관심이 있는 누구나 
전공 비전공자 관계 없음


<p style="color: red;">** 지원자격 ** </p>
경기대학교의 재,휴학생
1년동안 꾸준히 활동이 가능한 사람 *중요*
전공 무관
전공자는 기초적인 웹 지식이 있으신 분(권장)
개인 노트북이 있는 사람


<p style="color: red;">** 활동시간 ** </p>
5시 30분 이후 (요일은 미정)


<p style="color: red;">** 지원일정 ** </p>
서류 접수 : 3월 10일 화요일 ~ 3월 23일 월요일 11:59 pm
서류 합격 발표 : 3월 25일(수)
면접 : 3월 26일(목), 3월 27일(금) 중 택일
최종 합격 발표 : 3월 29일(일)


<p style="color: darkorange;">멋쟁이 사자처럼은 it 창업 동아리로써 기획/디자인/SW출시를 포함한 창업 수업등을 진행할 예정이며, 
이 수업을 바탕으로 파이썬(Python)이라는 컴퓨터 언어를 이용하여 직접웹서비스를 만들어보는 활동을 하게 됩니다.</p> 
</strong>
</pre>
</section>
{% endblock %}