{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <link rel="stylesheet" href="{% static 'css/layout.css' %}?after">
</head>

<body>
  <div class="all">
    {% block navbar %}

    <div class="top">

      <h5 class="text-white h3">Likelion 8th</h5>
      <h6 style="color: grey;">멋쟁이 사자처럼 at 경기대학교</h6>
      <br>
      <div class="signinup">
        {% if request.session.user %}
        <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
        <a class="nav-link" href="{% url 'user_read' %}">APPLY</a>
        {% else %}
          {% if request.session.is_manager %}
          <a class="nav-link" href="{% url 'manager_logout' %}">MANAGER LOGOUT</a>
          {% else %}
          <a class="nav-link active" href="{% url 'login' %}">LOGIN</a>
          <a class="nav-link" href="{% url 'sign_up' %}">SIGN UP</a>
          {% endif %}
        {% endif %}
      </div>
      <nav class="nav">
        {% if request.session.is_manager %}
        <a class="nav-link active" href="{% url 'manager_home' %}">HOME</a>
        <a class="nav-link" href="{% url 'apply_read' %}"> APPLY LIST</a>
        {% else %}
        <a class="nav-link active" href="{% url 'home' %}">HOME</a>
        {% endif %}
        <a class="nav-link" href="{% url 'about' %}">INFORMATION</a>
        <a class="nav-link" href="{% url 'question_read' %}">QUESTION</a>
        <a class="nav-link" href="{% url 'email' %}">EMAIL</a>

        

        {% if request.session.is_manager %}
        {% else %}
        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="{% url 'manager_login' %}">MANAGER LOGIN</a>
        {% endif %}
        {% endif %}
      </nav>
    </div>
    {% endblock %}
    {% block content %}



    {% endblock %}

  </div>
</body>
{% block footer %}

<footer class="bottom">
  <nav class="nav">
    <div class="icon">
      <a class="nav-link" href="https://www.facebook.com/likelionKGU/"><span style="color:blue"><i
            class="fab fa-facebook-f fa-2x"></i></span></a>

      <a class="nav-link" href="{% url 'email' %}"><i class="far fa-envelope fa-2x"></i></a>
    </div>
  </nav>
  <p style="color: white; font-size: larger;">© Untitled. All rights reserved. </p>
</footer>
{% endblock %}


</html>