.nav{
    background-color: rgb(26, 25, 25);
    text-align: center;
}

.nav-link {
    color: darkorange;
    background-color: rgb(26, 25, 25);
}

.nav-link:hover {
    color: tomato;
}

.icon {
    text-align: center;
    margin: 10px auto;
    display: flex;
    background-color: rgb(26, 25, 25);
}

.all {
    /* overflow: scroll; */
}

.top {
    width: 100%;
    height: 150px;
    background-color: rgb(26, 25, 25);
    padding: 10px;
    margin: 0 auto;    
}

.content {
    width: 100%;
    height: 800px;
    /* overflow: scroll; */
    margin: 0 auto;
    padding: 20px;
    /* vertical-align: middle;
    display: table-cell; */
}

.bottom {
    width: 100%;
    height: 150px;
    background-color: rgb(26, 25, 25);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    grid-row-start: 3;
    grid-row-end : 4;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display : grid;
    grid-template-rows: 1fr auto;
}
.signinup {
    float: right;
    display: flex;
}
